<div class="todo-navbar">
  <div class="todo-navbar-buttons">
  
<!--  [queryParams] is used to set query string in Url on click operation
       routerLink is used to set Url -->
    <ul class="nav nav-tabs">

      <li class="nav-item">
        <a
          class="nav-link"
          [ngClass]="{
            active: isAll
          }"
          (click)="allTasks()"


           routerLink="/api/v1/manager/view_tasks"
           [queryParams]="{filterby:'all'}"   
          >All Tasks</a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          (click)="today()"

          [ngClass]="{
            active: isToday
          }"
          routerLink="/api/v1/manager/view_tasks"
          [queryParams]="{filterby:'today'}"
          >Today</a
        >
      </li>
    </ul>
  </div>
   

  <div class="right-side">
    <div class="option-padding">
      <select
        name="assignTo"
        id="assignTo"
        class="form-control-dropdown"
        type="text"
        formControlName="assignTo"
        (change)="runFilter($event)"
      >
        <option class="option-padding" [ngValue]="undefined" selected>
          Filter
        </option>
        <option class="option-padding">In Progress</option>
        <option class="option-padding">Done</option>
      </select>
    </div>

    <div>
      <button class="btn-create" (click)="openCreateTaskModal()">+</button>
    </div>
  </div>
</div>

<div class="container">
  <div @fade *ngFor="let task of allTasksList; trackBy: trackTasks">
    <div class="card" style="width: 25rem">
      <div class="card-body">
        <div class="card-header">
          <h5 class="card-title">{{ task.taskName }}</h5>

          <div class="operations">
            <input
              id="checkFollower"
              type="checkbox"
              [checked]="task.taskStatus"
              aria-label="Follower input"
              class="task_checkbox"
              (click)="checkBox(task.assigneeId, task._id, task.taskStatus)"
            />

            <i
              class="fa fa-pencil fa-1x"
              [routerLink]="['/api/v1/scedular/update_schedule', task._id]"
              (click)="updateTask(task._id)"
            >
            </i>

            <i
              class="fa fa-trash fa-1x"
              style="color: #ff0000fa"
              (click)="deleteTask(task._id)"
            >
            </i>
          </div>
        </div>

        <p class="card-text">{{ task.taskDescription }}</p>
        <p class="mt-5">{{ task.createdAt }}</p>
      </div>
    </div>
  </div>
</div>

<footer class="footer__container">
  <ul *ngFor="let _ of [].constructor(totalPages); let i = index">
    <li class="liststyle__none box">
      <a
        class="link"
        routerLink="/api/v1/manager/view_tasks"
        (click)="onChangePage(i + 1)"
        >{{ i + 1 }}</a
      >
    </li>
  </ul>
</footer>
