<div class="btn-container">
  <button class="btn-create" routerLink="/api/v1/scedular/create_schedule">
    +
  </button>
  
</div>


<div class="container">
  <div *ngFor="let task of allTasksList; trackBy: trackTasks">
    <div class="card">
      <header class="card__header">
        <h3 class="taskname">{{ task.taskName }}</h3>
        <div class="operations">
          <i
            class="fa fa-edit fa-2x"
            [routerLink]="['/api/v1/scedular/update_schedule', task._id]"
            (click)="updateTask(task._id)"
          ></i>
          <i
            class="fa fa-trash fa-2x"
            style="color: #ff0000fa"
            (click)="deleteTask(task._id)"
          ></i>
        </div>
      </header>
      <p class="card__description">{{ task.taskDescription }}</p>
      <p>{{ task.taskDate }}</p>
    </div>
  </div>
</div>


<footer class="footer__container">
  <ul  *ngFor="let _ of [].constructor(totalPages); let i = index">
    <li class="liststyle__none box">
      <a class="link"   
        routerLink="/home"
        (click)="onChangePage(i+1)"
        >{{ i+1 }}</a
      >
    </li>
  </ul>
</footer>
 
<!-- 
<footer>
  <ul class="footer__style" *ngFor="let pageNO of totalPages">
    <li class="box">
      <a class="link"   
        routerLink="/home"
        [queryParams]="{ page: pageNO, pageSize: tasksPerPage }"
        (click)="onChangePage(pageNO)"
        >{{ pageNO }}</a
      >
    </li>
  </ul>
</footer> -->

