 <!-- The Modal -->
 <!-- we use ngIf directive here this modal only open when value of dispaly is true 
     previously we saw that we listen continously in TS file when value of display variable true this modall will open  -->
 <div *ngIf="display === 'open'">

    <!-- Modal content -->
    <div class="modal_open">
  
      <div class="modal-content">
   
        <span class="close" (click)="close()">&times;</span>
        <div class="form">
          <h1 class="heading">Update User</h1>
          <form [formGroup]="form" (ngSubmit)="update()">
            <div class="container">
              <div class="validation-width">
                <label class="label">User Name</label>
                <input
                  name="userName"
                  id="userName"
                  type="text"
                  formControlName="userName"
                  class="form-control"
                  placeholder="Enter User Name"
                />
              </div>
  
              <div class="validation-width">
                <label class="label">Role</label>
                <input
                  name="role"
                  id="role"
                  type="text"
                  formControlName="role"
                  class="form-control"
                  placeholder="Enter Role"
                />
              </div>
  
              <div class="validation-width">
                <label class="label">Password</label>
                <input
                  name="password"
                  id="password"
                  type="password"
                  formControlName="password"
                  class="form-control"
                  placeholder="Enter Role"
                />
              </div>
  
              <div class="validation-width">
                <label class="label">Current Project</label>
                <input
                  name="currentProject"
                  id="currentProject"
                  type="text"
                  formControlName="currentProject"
                  class="form-control"
                  placeholder="Enter Project Name"
                />
              </div>
  
              <div class="validation-width">
                <label class="label">Lead Id</label>
                <input
                  name="leadId"
                  id="leadId"
                  type="text"
                  formControlName="leadId"
                  class="form-control"
                  placeholder="Enter Lead Name"
                />
              </div>
  
              <div class="validation-width">
                <label class="label">Project Description</label>
                <textarea
                  name="projectDescription"
                  id="projectDescription"
                  type="text"
                  formControlName="projectDescription"
                  class="form-control"
                  placeholder=" Description"
                ></textarea>
              </div>
  
          
              <!-- <div class="skills">
                <label>Skills</label>
                <ng-multiselect-dropdown
                  [settings]="dropdownSettings"
                  [data]="skills"
                  formControlName="skills"
                  style="width: 100%; margin-top: 20px; border-radius: 5px"
                >
                </ng-multiselect-dropdown>
              </div> -->
  
              <button class="btn-primary">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  