
.wrapper {
    display: grid;
    grid-template-columns: 250px 1fr;
  }
  
  .nav-position{
    position: fixed;
     z-index: 5000;
    width: 100%;
  }
  .nav-alignment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 5px solid white;
    width: 100%;
    
  }

  .c-products {
    display: grid;
    grid-template-columns:  1fr;
    margin-top: 100px;
     
    /* @media (min-width: 600px) {
      //grid-template-columns: 1fr 1fr 1fr;
      //grid-template-columns: repeat(3, 1fr);
    }
    
    @media (min-width: 800px) {
      //grid-template-columns: 1fr 1fr 1fr 1fr;
      //grid-template-columns: repeat(4, 1fr);
    }
    
    ///// In columns werken - flexboxlike
    //grid-auto-flow: column; 
    //grid-template-rows: 1fr 1fr 1fr;
    
    ///// Responsive in 1 lijn
    // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  }
  
  /* .c-product {
    background-color: tomato;
    padding: 1rem;
    order: 2;
  } */
  
   .c-product--promo {
    background-color: lightgreen;
    order: 1;
  }
/*   
  
  //// Just some styling
  
  body {
    font-family: "Open Sans", sans-serif;
  }
   */
  .sidebar {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    height: 105vh;
    padding-top: 40px;
   
   
  }
  .sidebar>ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
 
    height: 30%;
  }
.sidebar>ul>li{
  background: #2569e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 6px;
  width: 180px;
  margin-right: 40px;
  cursor: pointer;
 
}
.sidebar>ul>li>a{
 
   text-decoration: none;
   color: white;
   width: 100px;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 200;
}

  


























/* .................sample....................... */
 


/*!
 * Start Bootstrap - Simple Sidebar HTML Template (https://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
/* Toggle Styles */
/* This sidebar modified by seegatesite.com */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

}

#wrapper.toggled {
  padding-left: 250px;
}

.white-color:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  border-left: red 2px solid;
}
.white-color{
  color: aqua;
  margin-left: 20px;
}
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top:54px ;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

.fixed-brand {
  width: auto;
}
/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 2px;
}

.sidebar-nav li {
  
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #FAFAFA;
}

.sidebar-nav li:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  border-left: red 2px solid;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}
.nav-item{
  cursor: pointer;
}
.sidebar-align{
  display: flex;
  flex-direction: row;
  align-items: center;
 
  padding: 10px;
}
.margin{
  margin-left: 10px;
  font-size: large;
  line-height: 1.5;
  font-weight: 400;
}
.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.no-margin {
  margin: 0;
}

 

@media(min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }
  .fixed-brand {
    width: 250px;
  }
  #wrapper.toggled {
    padding-left: 0;
  }
  #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.toggled-2 #sidebar-wrapper {
    width: 150px;
  }
  #wrapper.toggled-2 #sidebar-wrapper:hover {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
    padding-left: 250px;
  }
  #wrapper.toggled-2 #page-content-wrapper {
    position: relative;
    margin-right: 0;
    margin-left: -200px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}
