  
<header>
    <a routerLink=""><img src="../../assets/SMART (50.png"></a>
    <nav>
        <ul>
            <!-- <li *ngIf="isAuthenticate()" class="items item5"><a routerLink="/home">Home</a></li>
             -->
             <li class="wrap">
                
                   <input type="text" class="searchTerm" placeholder="What are you looking for?">
                   <button type="submit" class="searchButton">
                     <i class="fa fa-search"></i>
                  </button>
                 
            </li>
             <li *ngIf="!isAuthenticate()" class="items item1"><a routerLink="/">Login</a></li>
            <li *ngIf="!isAuthenticate()" class="items item5"><a routerLink="/signup">Sign Up</a></li>
            <!-- <li *ngIf="isAuthenticate()"  class="logout-btn" ><a (click)="logout()">Logout</a></li> -->
            <button *ngIf="isAuthenticate()" class="logout-btn" (click)="logout()" ><i class="fa fa-sign-out" aria-hidden="true" style="color:white;"></i>Logout</button>
        </ul>
    </nav>
</header>
