<div class="wrapper">
  <div class="logo"><img src="../../../assets/SMART (50.png" alt="" /></div>

  <div class="text-center mt-4 name">Schedular</div>

  <form class="p-3 mt-3" [formGroup]="form" (ngSubmit)="login()">
    <!-- userName field in form
         formControlName is use to connect variable in TS file and template
         formControlName is used only in reactive forms
    -->
    <div class="form-field d-flex align-items-center">
      <input
        name="username"
        id="username"
        type="text"
        placeholder="Username"
        formControlName="userName"
      />
    </div>
    <!-- password field in form 
         formControlName is use to connect variable in TS file and template
         formControlName is used only in reactive forms -->
    <div class="form-field d-flex align-items-center">
      <input
        placeholder="Password"
        name="password"
        id="password"
        type="password"
        formControlName="password"
      />
    </div>
    <!-- login button -->
    <button class="btn mt-3">Login</button>
  </form>
  <!-- footer  -->
  <div class="text-center fs-6">
    <a href="#">Forget password?</a> or <a href="#">Sign up</a>
  </div>
</div>

<router-outlet></router-outlet>
